/* The snackbar - position it at the bottom and in the middle of the screen */
#loadingPopUp {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 80px; /* Set a default minimum width */
	margin-left: -40px; /* Divide value of min-width by 2 */
	background-color: #00a7b5; /* Black background color */
	color: #333; /* black text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 5px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	bottom: 50%; /* 30px from the bottom */
}

/* Show the loader when clicking on a button (class added with JavaScript) */
#loadingPopUp.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}